Repository WymanMills/fhePropertyValuation: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix, eslint --fix

chore: create .solhintignore
  .solhintignore
Due: none

chore: update .env.example
  .env.example
Due: none

docs: update README
  README.md
Due: prettier --write

feat: add new features in nextjs-app (26 files)
  nextjs-app/next/package.json
  nextjs-app/next/react-loadable-manifest.json
  nextjs-app/next/routes-manifest.json
  nextjs-app/next/server/app-paths-manifest.json
  nextjs-app/next/server/app/_not-found/page.js
  nextjs-app/next/server/app/_not-found/page_client-reference-manifest.js
  nextjs-app/next/server/app/page.js
  nextjs-app/next/server/app/page_client-reference-manifest.js
  nextjs-app/next/server/middleware-build-manifest.js
  nextjs-app/next/server/middleware-react-loadable-manifest.js
  nextjs-app/next/server/next-font-manifest.js
  nextjs-app/next/server/next-font-manifest.json
  nextjs-app/next/server/pages-manifest.json
  nextjs-app/next/server/server-reference-manifest.js
  nextjs-app/next/server/server-reference-manifest.json
  nextjs-app/next/server/vendor-chunks/@wagmi.js
  nextjs-app/next/server/webpack-runtime.js
  nextjs-app/next/static/chunks/app/_not-found/page.js
  nextjs-app/next/static/chunks/webpack.js
  nextjs-app/next/static/development/_buildManifest.js
  nextjs-app/next/static/development/_ssgManifest.js
  nextjs-app/next/static/webpack/b0f86b818b80e02a.webpack.hot-update.json
  nextjs-app/next/static/webpack/webpack.b0f86b818b80e02a.hot-update.js
  nextjs-app/next/types/app/layout.ts
  nextjs-app/next/types/app/page.ts
  nextjs-app/next/types/package.json
Due: prettier --write, eslint --fix

feat: add new features in nextjs-app
  nextjs-app/app/globals.css
  nextjs-app/app/layout.tsx
  nextjs-app/app/page.tsx
  nextjs-app/app/providers.tsx
Due: none

feat: add new features in nextjs-app (17 files)
  nextjs-app/NOT_AN_ERROR.md
  nextjs-app/QUICKSTART.md
  nextjs-app/QUICK_CONFIG.md
  nextjs-app/README.md
  nextjs-app/SETUP_GUIDE.md
  nextjs-app/STATUS.md
  nextjs-app/SUMMARY.md
  nextjs-app/TESTING_GUIDE.md
  nextjs-app/UPDATED_TESTING_WORKFLOW.md
  nextjs-app/next-env.d.ts
  nextjs-app/next.config.js
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/postcss.config.js
  nextjs-app/tailwind.config.ts
  nextjs-app/tsconfig.json
  nextjs-app/vercel.json
Due: prettier --write, eslint --fix

Add files via upload
  README.md
  contracts/ConfidentialPropertyValuation.sol
Due: prettier --write, solhint --fix

Path conditions:
  prettier --write: ((any of: *.sol) or (any of: *.js)) or (any of: *.{json,md})
  solhint --fix: any of: *.sol
  eslint --fix: any of: *.js
